/* * {
    margin: 0;
    padding: 0;
} */

.box1 {
    background-color: royalblue;
    width: 300px;
    height: 200px;
    display: inline-block;
    margin: 20px 20px 10px 10px;

    text-align: center;
    text-decoration: underline overline #ff028f;
    line-height: 2;
}

.box2 {
    background-color: crimson;
    width: 300px;
    height: 200px;
    display: inline-block;
    text-align: end;
    text-transform: uppercase;
    font-size: 10px;
    font-style: oblique;
    font-weight: bold;
}